{
    "root": true,
    "parserOptions": {
        "ecmaVersion": "latest",
        "ecmaFeatures": { "jsx": true },
        "sourceType": "module"
    },
    "env": { "browser": true },
    "plugins": ["react", "prettier", "unused-imports"],
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended",
        "airbnb",
        "airbnb/hooks",
        "prettier",
        "plugin:prettier/recommended"
    ],
    "rules": {
        "no-unused-vars": "off",
        "unused-imports/no-unused-imports": "error",
        "unused-imports/no-unused-vars": [
            "warn",
            {
                "vars": "all",
                "varsIgnorePattern": "^_",
                "args": "after-used",
                "argsIgnorePattern": "^_"
            }
        ],
        "import/order": [
            "error",
            {
                "groups": ["builtin", "external", "parent", "sibling", "index"],
                "alphabetize": {
                    "order": "asc"
                },
                "newlines-between": "always"
            }
        ]
    },
    "settings": {
        "react": {
            "version": "detect"
        },
        "import/resolver": {
            "node": {
                "moduleDirectory": ["node_modules", "src/"]
            }
        }
    }
}
